.placedetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__img {
    width: 700px;
  }

  &__name {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
  }

  &__area {
    font-size: 20px;
    font-family: "Dancing Script", cursive;
  }

  &__left {
    margin-left: 32px;
  }

  &__right {
    width: 100%;
    margin-top: 200px;
    margin-right: 100px;
    margin-left: 100px;
  }
  &__descript {
    font-size: 30px;
  }
}
