.card-content {
  font-size: 20px;
}

.card-title {
  font-family: "Courier New", Courier, monospace;
  font-style: bold;
}

.parallax-container {
  height: 250px;
  width: 100%;
}

.row .col.m4 {
  width: 100%;
}
