img {
  width: 600px;
  height: 800px;
}

.heading {
  font-family: "Baskervville", serif;
  font-size: 100px;
  line-height: 100px;

  &__subtitle {
    font-family: serif;
    font-size: 40px;
  }
}
