.item {
  display: inline-block;
  border: 10px solid transparent;
  width: 200px;
  background-color: azure;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.foodlistsec {
  display: inline-block;
  position: relative;
  bottom: 300px;
  margin-left: 80px;
  display: flex;
  margin-top: 50px;
}

* {
  box-sizing: border-box;
}

.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
