.collapse {
  width: 100%;
  border: none;
  background-color: transparent;
}

.ttc {
  margin-bottom: 100px;
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
  justify-content: space-around;

  &__img {
    width: 200px;
    height: 110px;
  }

  &__caption {
    width: 300px;
    font-size: 15px;
    position: relative;
    top: 120px;
    right: 150px;
    color: green;
  }
}

.info {
  &__header {
    font-size: 40px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  &__info {
    font-size: 25px;
    color: grey;
    font-weight: 550;
    text-align: center;
    line-height: 40px;
    font-family: "Baskervville", serif;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.collapsible-header {
  position: relative;
  left: 600px;
  border: none;
  background-color: transparent;
}

.readmore {
  &__heading {
    font-size: 25px;
    font-weight: 500;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  &__subtitle {
    font-size: 20px;
    padding-right: 100px;
    text-align: left;
    font-family: "Baskervville", serif;
    color: seagreen;
  }
}
