.section-follow .fa-4x {
  margin: 5px 10px;
}

.sectionfollow {
  position: relative;
  bottom: 0;
  background-image: url("../../assets/img/deer.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
}

.brand-logo-footer {
  font-family: "Tomorrow", sans-serif;
  color: black;
}

.footercontainer {
  position: relative;
  top: 250px;
  left: 370px;
}
