::placeholder {
  color: cornflowerblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.section-search input {
  padding: 10px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: white 3px solid !important;
}
